@media only screen and (min-width: 400px) {

    .card-text {
        padding: 2rem;
    }

    .card-img {
        height: 230px;
    }

    .top,
    .middle {
        margin-left: 1rem;
        margin-right: 1rem;
    }

}

@media only screen and (min-width: 480px) {

    header {
        padding-top: 1.5rem;
        padding-bottom: 1.5rem;
    }

    .card-img {
        height: 250px;
    }

}

@media only screen and (min-width: 550px) {

    .top,
    .middle {
        margin-left: 1.5rem;
        margin-right: 1.5rem;
    }

}

@media only screen and (min-width: 650px) {

    nav {
        top: 5.3rem;
        padding: 0;
    }

    .nav-toggle-btn {
        display: none;
    }

    .search-toggle-btn,
    .top,
    .middle {
        margin-right: 0;
    }

    .top-nav {
        width: calc(100% - 20%);
        padding-left: 10%;
        padding-right: 10%;
    }

    .container {
        grid-template-columns: auto 12fr;
        padding-bottom: 2rem;
    }

    .sidebar {
        position: static;
        background-color: transparent;
        width: auto;
        height: auto;
        justify-content: space-between;
    }

    .sidebar,
    .main-content {
        padding: 2rem;
    }

    .logout-btn,
    .top,
    .middle {
        margin-left: 0;
    }

    .middle-card:not(:last-child) {
        margin-bottom: 0;
    }

    .middle-grid {
        grid-template-columns: 12fr;
        gap: 2rem;
    }

    .card-img {
        height: 200px;
    }

    .card-text {
        padding: 2rem 1rem;
    }

    .bottom-grid {
        grid-template-columns: 1fr;
    }

    .bottom-grid-text-container {
        grid-template-columns: 12fr auto;
    }

    .bottom-grid-shadow {
        padding: .5rem 1rem;
    }

}

@media only screen and (min-width: 700px) {

    .top-nav {
        width: calc(100% - 30%);
        padding-left: 15%;
        padding-right: 15%;
    }

}

@media only screen and (min-width: 750px) {

    .top-nav {
        width: calc(100% - 40%);
        padding-left: 20%;
        padding-right: 20%;
    }

}

@media only screen and (min-width: 800px) {

    .top {
        padding-left: 3rem;
        padding-right: 3rem;
    }

    .top-content {
        width: 80%;
    }

    .card-img {
        height: 250px;
    }

    .card-text {
        padding: 2rem;
    }

}

@media only screen and (min-width: 850px) {

    .top-content {
        width: 70%;
    }

}

@media only screen and (min-width: 900px) {
    
    .middle-grid {
        grid-template-columns: repeat(2, 1fr);
        gap: 1.5rem;
    }

    .card-img {
        height: 200px;
    }

    .card-text {
        padding: 1rem;
    }

}

@media only screen and (min-width: 950px) {

    .card-img {
        height: 230px;
    }

}

@media only screen and (min-width: 1024px) {

    .d-hide {
        display: none;
    }

    nav {
        top: 6.3rem;
    }

    header.flex-column,
    .top-nav,
    .nav-user-details-container {
        flex-direction: row;
        align-items: center;
    }

    .top {
        padding-left: 4rem;
        padding-right: 4rem;
    }

    .top-nav {
        flex-grow: .3;
        position: static;
        width: auto;
        height: auto;
        transform: rotateX(0);
        padding: 0;
    }

    .top-nav .link {
        order: 0;
    }

    .nav-user-details,
    .nav-user-details-container  {
        order: 1;
    }

    .nav-user-details-container {
        flex-wrap: nowrap;
        gap: 2rem;
        order: 2;
    }

}

@media only screen and (min-width: 1060px) {

    .bottom-grid {
        grid-template-columns: repeat(2, 1fr);
        gap: 2rem 1rem;
    }

}

@media only screen and (min-width: 1200px) {

    .top-nav {
        flex-grow: .5;
    }

    .top-content {
        width: 50%;
    }

    .middle-grid {
        grid-template-columns: repeat(4, 3fr);
        gap: 1.5rem;
    }

    .card-img {
        height: 150px;
    }

    .bottom-grid {
        grid-template-columns: repeat(2, 1fr);
        gap: 2rem;
    }

}